<p>marriage works!</p>
<!-- 
<div style="background-image: url('https://video-public.canva.com/VADhwTpAAI4/v/14cc84bfdd.gif');"
    class="animated-container relative flex flex-col z-20 bg-top justify-center items-center w-screen h-screen">
    <div class="flex items-center">
        <img class="w-36" [showAfter]="1000" [animations]="'fadeInLeftToRight'" src="https://media.canva.com/1/image-resize/1/571_437_100_PNG_F/czM6Ly9tZWRpYS1wcml2YXRlLmNhbnZhLmNvbS85NnFaMC9NQUZ3eG45NnFaMC8xL3AucG5n?osig=AAAAAAAAAAAAAAAAAAAAAH0C7_X9JDtoXthEndodOle-D15Cq0R3LuuhvV933H0z&exp=1697046043&x-canva-quality=screen&csig=AAAAAAAAAAAAAAAAAAAAABDMyvj8ANBWbTblFIGbSPaVcw9-R4BW5dYRAKUmGM9v
        " />
        <img class="w-36" [showAfter]="1000" [animations]="'fadeInRightToLeft'" src="https://i.pinimg.com/736x/0c/a9/7e/0ca97eaa6fefe8912ae0b7e532f5fcb6.jpg" />
    </div>
</div>
 -->
