<div class="uPeMFQ">
    <div class="xvJQZA">
        <div class="_2y_DBA" data-page-id="2" style="width: 457.475px; height: 647px; margin: 0px;">
            <div class="O7ADyQ" style="width: 793.701px; height: 1122.52px; transform: scale(0.576382);">
                <div class="pTC3Qw" lang="en-GB" style="width: 793.701px; height: 1122.52px;">
                    <div class="sx_H3w _682gpw" style="touch-action: pan-x pan-y pinch-zoom;">
                        <div class="a26Xuw">
                            <div class="fbzKiw" style="background: rgb(255, 255, 255);"></div>
                        </div>
                    </div>
                    <div
                        style="position: absolute; top: 79.3701px; left: 79.3701px; width: 634.961px; height: 963.78px;">
                    </div>
                    <div class="DF_utQ _682gpw _0xkaeQ"
                        style="touch-action: pan-x pan-y pinch-zoom; width: 793.701px; height: 793.701px; transform: translate(0px, -317.48px) rotate(-90deg);">
                        <div class="Zp7NQw">
                            <div class="a26Xuw">
                                <div class="PcHy7w">
                                    <div class="uk_25A Ty61NA">
                                        <div class="Izwocg"
                                            style="width: 793.701px; height: 793.701px; transform: translate(0px, 0px) rotate(0deg);">
                                            <img class="_7_i_XA" crossorigin="anonymous"
                                                src="https://media-public.canva.com/21u-E/MAEeJF21u-E/1/tl.png"
                                                draggable="false" alt="Shiny Gold Foil Paint Marble Texture"
                                                style="object-fit: fill;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DF_utQ _682gpw _0xkaeQ"
                        style="touch-action: pan-x pan-y pinch-zoom; width: 793.701px; height: 793.701px; transform: translate(0px, 328.819px);">
                        <div class="Zp7NQw">
                            <div class="a26Xuw">
                                <div class="PcHy7w">
                                    <div class="uk_25A Ty61NA">
                                        <div class="Izwocg"
                                            style="width: 793.701px; height: 793.701px; transform: translate(0px, 0px) rotate(0deg);">
                                            <img class="_7_i_XA" crossorigin="anonymous"
                                                src="https://media-public.canva.com/21u-E/MAEeJF21u-E/1/tl.png"
                                                draggable="false" alt="Shiny Gold Foil Paint Marble Texture"
                                                style="object-fit: fill;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DF_utQ _682gpw _0xkaeQ"
                        style="touch-action: pan-x pan-y pinch-zoom; width: 713.195px; height: 1040.12px; transform: translate(40.253px, 41.2005px);">
                        <div
                            style="position: absolute; top: 0px; left: 0px; transform: scale(1); transform-origin: 0px 0px; height: 1040.12px; width: 713.195px;">
                            <div class="hWv4NA"
                                style="width: 713.195px; height: 1040.12px; margin-left: 0px; margin-top: 0px;">
                                <div class="bFnJ2A _682gpw"
                                    style="clip-path: path(&quot;M 0 0 L 256 0 L 256 280 L 0 280 Z&quot;); background: rgb(255, 255, 255); width: 256px; height: 280px; transform: scale(2.78592, 3.71471); transform-origin: 0px 0px; touch-action: pan-x pan-y pinch-zoom;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DF_utQ _682gpw _0xkaeQ"
                        style="touch-action: pan-x pan-y pinch-zoom; width: 717.946px; height: 1040.12px; transform: translate(37.8775px, 41.2005px);">
                        <div class="Zp7NQw">
                            <div class="a26Xuw">
                                <div class="PcHy7w">
                                    <div class="uk_25A Ty61NA">
                                        <div class="Izwocg"
                                            style="width: 717.946px; height: 1040.12px; transform: translate(0px, 0px) rotate(0deg);">
                                            <img class="dMHlHA" crossorigin="anonymous"
                                                src="https://media-public.canva.com/4XdAM/MAFHtt4XdAM/1/s2.svg"
                                                draggable="false" alt="Gold Frame"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DF_utQ _682gpw _0xkaeQ"
                        style="touch-action: pan-x pan-y pinch-zoom; width: 199.864px; height: 289.658px; transform: translate(0px, 0px);">
                        <div class="Zp7NQw">
                            <div class="a26Xuw">
                                <div class="PcHy7w">
                                    <div class="uk_25A Ty61NA">
                                        <div class="Izwocg"
                                            style="width: 199.864px; height: 289.658px; transform: translate(-4.26326e-14px, -2.84217e-14px) rotate(0deg);">
                                            <img class="_7_i_XA" crossorigin="anonymous"
                                                src="https://media-public.canva.com/PM3BM/MAEugRPM3BM/1/t.png"
                                                draggable="false" alt="Golden Sparkling Border"
                                                style="object-fit: fill;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DF_utQ _682gpw _0xkaeQ"
                        style="touch-action: pan-x pan-y pinch-zoom; width: 200.2px; height: 290.145px; transform: translate(593.501px, 832.375px) rotate(-180deg);">
                        <div class="Zp7NQw">
                            <div class="a26Xuw">
                                <div class="PcHy7w">
                                    <div class="uk_25A Ty61NA">
                                        <div class="Izwocg"
                                            style="width: 200.2px; height: 290.145px; transform: translate(-2.84217e-14px, -5.68434e-14px) rotate(0deg);">
                                            <img class="_7_i_XA" crossorigin="anonymous"
                                                src="https://media-public.canva.com/PM3BM/MAEugRPM3BM/1/t.png"
                                                draggable="false" alt="Golden Sparkling Border"
                                                style="object-fit: fill;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DF_utQ _682gpw _0xkaeQ"
                        style="touch-action: pan-x pan-y pinch-zoom; width: 499.097px; height: 7.75798px; transform: translate(147.302px, 79.3701px);">
                        <div class="Zp7NQw">
                            <div class="a26Xuw">
                                <div class="PcHy7w">
                                    <div class="uk_25A Ty61NA">
                                        <div class="Izwocg"
                                            style="width: 499.097px; height: 7.75798px; transform: translate(0px, 0px) rotate(0deg);">
                                            <img class="_7_i_XA" crossorigin="anonymous"
                                                src="https://media-public.canva.com/Sg5qc/MAFMnHSg5qc/1/tl.png"
                                                draggable="false" alt="Decorative line" style="object-fit: fill;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DF_utQ _682gpw _0xkaeQ"
                        style="touch-action: pan-x pan-y pinch-zoom; width: 499.097px; height: 7.75798px; transform: translate(147.302px, 1039.27px);">
                        <div class="Zp7NQw">
                            <div class="a26Xuw">
                                <div class="PcHy7w">
                                    <div class="uk_25A Ty61NA">
                                        <div class="Izwocg"
                                            style="width: 499.097px; height: 7.75798px; transform: translate(0px, 0px) rotate(0deg);">
                                            <img class="_7_i_XA" crossorigin="anonymous"
                                                src="https://media-public.canva.com/Sg5qc/MAFMnHSg5qc/1/tl.png"
                                                draggable="false" alt="Decorative line" style="object-fit: fill;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="awStMQ" style="width: 457.475px; height: 647px; margin: 0px;">
        <div></div>
        <div class="E_6_9g"></div>
    </div>
</div>