<div class="flex flex-col justify-between">
    <iframe class="p-4" src="https://www.youtube.com/embed/VGjvZRerP58"
        title="Tere Vaaste | Lyrical | Zara Hatke Zara Bachke | Vicky, Sara Ali K, Varun J, Sachin-Jigar, Amitabh B"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
    </iframe>
</div>

<div>
    <div class="grid grid-cols-2 gap-2 p-4">
        <!-- (click)="handleEventClick(item.routePath)" -->
        <div *ngFor="let item of eventList" @staggerRight
            [routerLink]="item.routePath"
            class="relative hover:animate-pulse rounded-md bg-cover bg-no-repeat bg-center bg-gradient-to-bl from-blue-200 to-blue-600  p-4 h-20" style="background-image: url({{item.backgroundImage}})"> <!-- bg-gradient-to-bl from-blue-200 to-blue-600-->
            {{item.label}}
            <!-- <img class="" [src]="item.svgPath"> -->
            <div class="{{item.width ? item.width : ''}} absolute top-0 right-0 bottom-0 w-12 h-20 rotate-4 bg-cover bg-no-repeat bg-center" style="background-image: url({{item.svgPath}});"></div>
        </div>
    </div>
</div>