<!--Gifts:  https://media-public.canva.com/7mWYs/MAFdyu7mWYs/1/tl.png -->
<!-- coins https://video-public.canva.com/VADlsxWEKFQ/v/91b6b340f6.gif -->
<!-- cash https://video-public.canva.com/VADlszFaYhs/v/e67a8ad56c.gif-->
<!-- Man mamera-namaste.png -->

<!-- style="background-image: url('https://video-public.canva.com/VADhwTpAAI4/v/14cc84bfdd.gif');" -->
<div 
    style="background-image: url('https://video-public.canva.com/VADlszFaYhs/v/e67a8ad56c.gif');"
    class="animated-container relative flex flex-col z-20 bg-top justify-center items-center w-screen h-screen">
    <img class="absolute top-0" [showAfter]="1000" src="https://video-public.canva.com/VADlsxWEKFQ/v/91b6b340f6.gif" />
    <!-- <img class="absolute top-0" [showAfter]="1000" src="https://video-public.canva.com/VADlszFaYhs/v/e67a8ad56c.gif" /> -->

    <div class="flex flex-col items-center">
        <img class="rightPlayer w-46" [showAfter]="1000" [animations]="'fadeInRightToLeft'" src="assets/mamera-namaste.png" />
        <img class="leftPlayer w-46" [showAfter]="1000" [animations]="'fadeInLeftToRight'" src="https://media-public.canva.com/7mWYs/MAFdyu7mWYs/1/tl.png" />
    </div>
</div>