<!-- <mat-drawer-container class="h-screen" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" class="w-1/2 lg:w-1/4">
    <app-navigation-items></app-navigation-items>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()" aria-label="Button for the navigation options">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Kishith</span>
      <span class="example-spacer"></span>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->
<!-- <mat-toolbar class="flex justify-center">
  <span>Kishith</span>
</mat-toolbar> -->
<!-- <button *ngIf="flag" class="install-button">Install the App</button> -->
<!-- <div class="absolute h-screen">
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="centered-div">

    </div>
  </div>
</div> -->
<div *ngIf="eventName" class="fixed inset-0 flex items-center justify-center z-50">
    <mat-card class="flex justify-center items-center bg-cover w-2/3 h-2/3 lg:w-3/4 lg:h-3/4"  style="background-image: url('assets/eventInfobg.jpeg');">
      <mat-card-title> {{eventName}} </mat-card-title>
      <mat-card-content> 
        <div *ngFor="let item of eventInfo | keyvalue: retureZero" class="grid grid-cols-2">
          <div>{{item.key }}</div>
          <div>{{item.value }}</div>
        </div>
      </mat-card-content>
    </mat-card>
</div>

<router-outlet></router-outlet>