<div style="background-image: url('https://video-public.canva.com/VADhwTpAAI4/v/14cc84bfdd.gif');"
    class="animated-container relative flex flex-col z-20 bg-top bg-no-repeat justify-center items-center w-screen h-screen">
    <div class="flex mt-auto">
        <img class="w-60 pl-16 pt-40" [showAfter]="1000" src="https://media-public.canva.com/i90xs/MAFv3Bi90xs/1/tl.png" />
        <img class="w-60 pl-16 pt-40" [showAfter]="1000" src="https://media-public.canva.com/OgEJY/MAFv3MOgEJY/1/tl.png" />
    </div>
    
    <!-- <div class="flex items-end mt-auto gap-8">
        <img class="h-[7.5rem]" [showAfter]="0" src="https://media-public.canva.com/i90xs/MAFv3Bi90xs/1/tl.png" />
        <img class="h-24" [showAfter]="0" src="https://media-public.canva.com/jgVqY/MAFdzOjgVqY/1/tl.png" />
    </div> -->
</div>



<!-- <div [showAfter]="4000" class="z-20 w-full h-full absolute flex justify-center items-center">
    <div class="bg-cover bg-no-repeat bg-center">
        <div class="text-xl text-center">Mandap Ropan</div>
        <div class="text-lg flex flex-col">
            <div class="text-center">Date</div>
            <div class="text-center">6th December, 2023</div>
        </div>
        <hr />
        <div class="text-lg flex flex-col">
            <div class="text-center">Time</div>
            <div class="text-center">6:00 pm</div>
        </div>
        <hr />
        <div class="text-lg flex flex-col">
            <div class="text-center">Venue</div>
            <div class="text-center">ABC, xyz, 123</div>
        </div>
    </div>
</div> -->